

.footer {
  background: linear-gradient(180deg, #0f2027, #203a43, #2c5364);
  padding: 5rem 2rem;
  color: #fff;
}

.captionContainer {
   display: flex;
  align-items: center;
  justify-content: space-between; /* equal spacing between paragraph and icons */
  gap: 1rem;
}
.footerCaption  p{
  flex: 2;                 /* give paragraph more space */
  max-width: 300px;        /* limit width so text wraps into 3–4 lines */
  line-height: 1.9;        /* compact but readable */
  margin: 0;
  color: rgba(224, 224, 224, 0.85)
}

.footerCaption h4 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 1.5rem;
  font-style: normal;
}

h4, .logo {
    display: inline-flex;
    margin-inline-start: 0.3rem;
    
    
}

.logo{
border: 2px solid #FBC2EB,;
border-radius: 50%;
padding: 0.9rem;
position: relative;
top: 1.2rem;
background: linear-gradient(90deg, #FBC2EB, #6f9ae6);
color: yellow;
font-size: 1.9rem;
}

 .footer a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: rgba(224, 224, 224, 0.85);
    padding-left: 0;
    line-height: 1.8rem;
}

.footer a:hover {
    color: #FBC2EB;
}
.footerIcon {
    display: inline-flex;
  justify-content: space-evenly; 
  flex: 1;                       
  gap: 1rem;
  font-size: 1.5rem;
  margin-top: 0.8rem;
}
.lastFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
    border-top: 1px solid rgba(255, 255, 2555, 0.2);
    align-items: center;
    flex-wrap: wrap;
}

.footerLinks {
display: flex;
gap: 1.5rem;
}

.footerLinks a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 0.9rem;
}

.footerLinks a:hover {
    color: #FBC2EB
}